<!-- git init
    git add README.md
    git commit -m "first commit"
    git remote add origin https://github.com/kira56/Solete2.git
    git push -u origin master -->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="Let u of usuarios">
            <td>{{u.usu_id}}</td>
            <td>{{u.usu_email}}</td>
            <td>{{u.usu_est}}</td>
            <td>{{u.usu_tipo}}</td>
        </tr> -->
    </tbody>
</table>